.category-banner{
    position:relative;
    text-align:right;
    width:789px;
    color:#fff;
    font:13px/16px Arial, sans-serif;
    margin:0 0 20px;
    overflow:hidden;
}
.category-banner .category-text{
    position:absolute;
    left:0;
    top:0;
    width:711px;
    padding:40px 58px 0 20px;
}
.category-banner h2{
    letter-spacing:4px;
    padding:0 0 12px;
    margin:0 -3px 0 14px;
    color:#fff;
    position:relative;
    z-index:2;
    font:45px/45px 'FbKalisher-Regular', Arial, sans-serif;
}
.category-banner p{
    border-top:2px solid #fff;
    position:relative;
    float:right;
    z-index:2;
    padding:14px 0 0 3px;
    clear:both;
}


.content_scene_cat {
    padding:5px;
/*    border:1px solid #ccc;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #e2e2e2;
    -webkit-box-shadow: 0 1px 1px #e2e2e2;
    box-shadow: 0 1px 1px #e2e2e2;
}

.cat_desc {
    font-size:12px;
    line-height:18px;
    margin-top: 10px;
}
.cat_desc p {margin-bottom: 5px;}
.cat_desc .lnk_more {
   padding:0 10px;
   color:#0088CC;
    background:url(../img/arrow_right_1.png) no-repeat 0% 4px transparent;
}


/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {margin-top:15px}
#subcategories h3 {
    color: #5C5C5C;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 5px;
}

.inline_list {
    list-style-type:none;
    margin-top:10px;
}
.inline_list  li {
    padding:10px 0;
    border-bottom:1px dotted #ccc
}
.inline_list  li .img {
    float:right;
    margin-left:15px
}
.inline_list  li img {
    border:1px solid #ccc
}
.inline_list  li .cat_name {
    font-weight:bold;
    font-size:13px
}
